{% extends "base.html" %}

{% block content %}

<div class="container-fluid match-bar-wrap">
  <div class="col-md-1">
    <div class="icon">
      <i class="fa fa-heart"></i>
      <span class="js-queue-length"></span>
      <span class="js-queue-state"></span>
    </div>
  </div>
  <div class="match-river UIRiver col-md-11">
    <div class="matches el-wrap">
    </div>
  </div>
</div>

<div class="page-chat">
  <div class='container-fluid'>
    <div id="chat-ui" class="row">
      <div id="match-list" class="col-md-4">

      </div>
      <div id="active-convo" class="col-md-6">
      </div>
      <div id="match-photos" class="col-md-2">

      </div>
    </div>
  </div>
</div>


<div class="container-fluid rec-bar-wrap">
  <div class="rec-river UIRiver col-md-12">
    <div class="recommendations el-wrap">
    </div>
  </div>
</div>

<div class="black-overlay" style="display:none;">
</div>

<script>
  var socket;
  Global.currentCoords = {
      "lon": "{{location.lon}}",
      "lat": "{{location.lat}}"
  };

  Global.tinderId = "{{tinderId}}";
  Global.profilePic = "{{photo}}";
  Global.currentPage = 'intros';
  Global.uid = "{{userId}}";
  Global.socket = socket = io.connect('//localhost:3000');
  socket.on('connect', function() {
    // TODO: replace with DB userId
    console.log("emitting auth!");
    socket.emit('auth', {uid: "{{userId}}"});
  });
  socket.on('disconnect', function() {
    console.log(arguments);
    console.log("disconnected!");
  });
  Chat.init();

</script>

{% endblock %}
