{% extends "base.html" %}

{% block entire_page %}
<div class="container page-reg page-reg-complete">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<h1><b>Last step. Then game time.</b></h1>
				<h1 class="subtitle">To be able to like and send messages for you on Tinder, we need access to your Tinder account. This step’s a little awkward, so bear with us.</h1>
				<span class="btw">Once we build the native apps, this won’t be necessary.</span>
			</div>

		</div>
	</div>

	<div class="gif-directions row">
		<div class="col-md-6">
			<div class="row">
				<label>First, watch this real quick:</label>
			</div>
			<div class="row">
				<span class="btw">In the next step, there's a big green button to click. That will bring up a page which has the magic Tinder login key, which Wingman needs to work.</span><br /><br />

				<span class="btw">Just like you can see in the video at right, it'll go away pretty quick! So, just as quick, you'll have to copy the login key.</span><br /><br />

				<span class="btw">The link in your URL bar will look like this:</span><br /><br />

				<span class="btw">https://www.facebook.com/connect/login_success.html#<b>access_token=<strong>DUUXj1xi9BsQrSku0zXoF</strong></b></span><br /><br />

				<span class="btw">The thing you want to copy is what's after "access_token", highlighted in green. It'll be on the right hand side of the URL bar. Just double click any part of it, and then hit command-c or control-c to copy it.</span><br /><br />

				<span class="btw">If you don't get it in time, that's totally ok. Just come back here, click on the same button, try again.</span>
				<span class="btw">Once you have the link, just enter it at the bottom of this page. You'll probably have to try 2-3 times before you copy the key in time.</span>
			</div>
		</div>
		<div class="col-md-5 col-md-offset-1">
			<img src="https://wingmanapp-assets.s3.amazonaws.com/wingman-auth-20150928.gif" />
		</div>
	</div>

	<div class="access-key row">
		<div class="col-md-4">
			<div class="row">
				<label>After that, copy your Tinder Access Key:</label>
			</div>
		</div>
		<div class="col-md-7 col-md-offset-1">
			<a href="https://www.facebook.com/dialog/oauth?client_id=464891386855067&redirect_uri=https://www.facebook.com/connect/login_success.html&scope=basic_info,email,public_profile,user_about_me,user_activities,user_birthday,user_education_history,user_friends,user_interests,user_likes,user_location,user_photos,user_relationship_details&response_type=token" target="_blank" class="cp-btn js-get-access-key">Get your Tinder access key</a>
			<br />
			<span class="btw">Having trouble copying the access token in time?</span><br />
			<span class="btw"><u>Click here for an alternate method of getting it.</u></span>

		</div>
	</div>

	<div class="paste-token row disabled">
		<div class="col-md-4">
			<div class="row">
				<label>Now, paste that access key to my right:</label>
			</div>
		</div>
		<div class="col-md-7 col-md-offset-1">
			<div class="row">
				<input type="text" placeholder="paste your access key here" class="js-paste-tinder-token" disabled />
			</div>
			<div class="row">
				<span class="btw">If it's long, that's a good thing. It'll look something like:</span><br />
				<span class="btw">FCACAOkviWcDiepa83c6yMF8A0SqnP0V5CVGNqiyo4xe3Fqk2Q83ZAZC3FzmLUgZBo</span>
			</div>
			<div class="row">
				<div class="cp-btn js-submit-tinderkey">
					<div class="unsubmitted">Done! Let's get started.</div>
					<div class="submitting" style="display:none;">
						<i class="fa fa-circle-o-notch fa-spin"></i>
					</div>
					<div class="success" style="display:none;">
						<i class="fa fa-check-circle"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<script>
	RegComplete.init();
</script>
{% endblock %}