{% extends "base.html" %}

{% block content %}
<div class="page-likes">
  <div class="container-fluid match-bar-wrap">
    <div class="col-md-1">
      <div class="icon">
        <i class="fa fa-heart"></i>
      </div>
    </div>
  	<div class="match-river UIRiver col-md-11">
      <div class="matches el-wrap">
      </div>
    </div>
  </div>

<div class="container like-stats">

  <div class="row stats">
    <div class="col-md-3">
      <div class="DataBox js-likes-so-far">
        <span class="js-stat statistic">403</span>
        <label>likes so far in <span class="js-city"></span></label>
      </div>
    </div>

    <div class="col-md-3">
      <div class="DataBox js-matches-so-far">
        <span class="js-stat statistic">42</span>
        <label>matches in <span class="js-city"></span></label>
      </div>
    </div>

    <div class="col-md-3">
      <div class="DataBox js-match-rate">
        <span class="js-stat statistic">10.4%</span>
        <label>match rate</label>
      </div>
    </div>
    <div class="col-md-3">
      <div class="DataBox DataBox--longlabel js-matches-remaining">
        <span class="js-stat statistic">?</span>
        <label>estimated potential matches remaining</label>
      </div>
    </div>

  </div> <!-- /.stats -->
</div>

<div class="action-bar wrap-full-width">
  <div class="container">

    <div class="row action-blocked" style="display:none;">
      <div class="col-md-12">
        <i class="fa fa-circle-o-notch fa-spin"></i>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <span>Easy there tiger. Still got <span class="js-mass-like-counter" style="display:inline;">20</span> girls left to like.</span>
        <br />
        <span>In the meantime, work on <a href="#" class="js-goto-openers">your openers</a>, or <a href="#" class="js-goto-chat">chat with someone</a> you've already matched with.</span>
      </div>
    </div> <!-- ./action-blocked -->
    <div class="row action">
      <div class="col-md-5">
        <div class="switch-bar on">
          <div class="row">
            <p>Intro messages are <span class="js-intro-message-status"></span></p>
            <span class="switch switch-square">
              <input type="checkbox" class="js-intro-switch" id="s1">
              <label for="s1" data-on="I" data-off="O"></label>
            </span>
          </div>

          <div class="row description">
            <p>Whatever you put in below will be sent about a minute after you match.  Including if you match a week from now,  So, best avoid stuff about weekend plans, since most matches happen 3-5 days after you like someone.</p>
          </div>

          <div class="row intro-el">
            <label>Intro #1</label>
            <a class="js-add-intro-token js-intro-token" data-token="{first_name}" data-target-area="intro-input-1">insert first name</a>
            <textarea class="js-intro-input" data-intro-num="1" id="intro-input-1" val="">just got in from bellevue, what’s up</textarea>
          </div>
      </div>
    </div>

    <div class="col-md-6 col-md-offset-1 actions">
      <div class="row desc">
        <span>Change number of girls to like:</span>
      </div>
      <div class="row js-select-like-num">
        <div class="like-num-el js-like-num-el" data-num="5">5</div>
        <div class="like-num-el js-like-num-el" data-num="20">20</div>
        <div class="like-num-el js-like-num-el active" data-num="50">50</div>
        <div class="like-num-el js-like-num-el" data-num="100">100</div>
        <div class="like-num-el js-like-num-el" data-num="250">250</div>
        <div class="like-num-el js-like-num-el" data-num="500">500</div>
      </div>
      <div class="row action">
        <div class="col-md-12">
          <div class="row">
            <div class="js-like primary" data-like-num="50">Swipe right on <span class="js-swipe-num">50</span></div>
          </div>
        </div>

      </div>
    </div> <!-- /.action -->
  </div>
</div>
<div class="container-fluid rec-bar-wrap">
  <div class="rec-river UIRiver col-md-12">
    <div class="recommendations el-wrap">
    </div>
  </div>
</div>

<div class="match-hovercard container-fluid wrap-full-width" style="display:none;">
  <div class="col-md-4">
    <div class="row">
      <h2><span class="js-match-name"></span>, <span class="js-match-age"></span></h2>
      <h3><span class="js-miles-away"></span></h3>
      <h4>last online <span class="js-last-online"></span></h4>

      <p class="js-hovercard-bio"></p>
    </div>
    <div class="row">
    </div>
    <div class="row">
      <div class="cp-btn js-unmatch" data-target-match="1232141">
        unmatch
      </div>
    </div>
  </div>
  <div class="col-md-8 js-hovercard-photos">
  </div>
</div>
</div>

<div class="black-overlay" style="display:none;">
</div>

<script>
  var socket;
  Global.currentCoords = {
      "lon": "{{location.lon}}",
      "lat": "{{location.lat}}"
  };

  Global.currentPage = 'likes';
  Global.uid = "{{userId}}";
  Global.socket = socket = io.connect('//localhost:3000');
  socket.on('connect', function() {
    // TODO: replace with DB userId
    console.log("emitting auth!");
    socket.emit('auth', {uid: "{{userId}}"});
  });
  socket.on('disconnect', function() {
    console.log(arguments);
    console.log("disconnected!");
  });
  Like.init();

</script>

{% endblock %}
