{% extends "base.html" %}

{% block content %}


<script>
  var socket;
  Global.currentCoords = {
      "lon": "{{location.lon}}",
      "lat": "{{location.lat}}"
  };

  Global.profilePic = "{{photo}}";
  Global.currentPage = 'likes';
  Global.uid = "{{userId}}";
  Global.socket = socket = io.connect('//localhost:3000');
  socket.on('connect', function() {
    // TODO: replace with DB userId
    console.log("emitting auth!");
    socket.emit('auth', {uid: "{{userId}}"});
  });
  socket.on('disconnect', function() {
    console.log(arguments);
    console.log("disconnected!");
  });
  Like.init();

</script>

{% endblock %}
