{% extends "base.html" %}

{% block content %}

<div class="container-fluid match-bar-wrap">
  <div class="col-md-1">
    <div class="icon">
      <i class="fa fa-heart"></i>
      <span class="js-queue-length"></span>
      <span class="js-queue-state"></span>
    </div>
  </div>
	<div class="match-river UIRiver col-md-11">
    <div class="matches el-wrap">
    </div>
  </div>
</div>

<div class="container like-ui">

  <div class="row stats">
    <div class="col-md-3">
      <div class="DataBox js-likes-so-far">
        <span class="js-stat statistic">403</span>
        <label>likes so far in <span class="js-city"></span></label>
      </div>
    </div>

    <div class="col-md-3">
      <div class="DataBox js-matches-so-far">
        <span class="js-stat statistic">42</span>
        <label>matches in <span class="js-city"></span></label>
      </div>
    </div>

    <div class="col-md-3">
      <div class="DataBox js-match-rate">
        <span class="js-stat statistic">10.4%</span>
        <label>match rate</label>
      </div>
    </div>
    <div class="col-md-3">
      <div class="DataBox DataBox--longlabel js-matches-remaining">
        <span class="js-stat statistic">?</span>
        <label>estimated potential matches remaining</label>
      </div>
    </div>

  </div> <!-- /.stats -->

  <div class="actions">

    <div class="row action-blocked" style="display:none;">
      <div class="col-md-12">
        <i class="fa fa-circle-o-notch fa-spin"></i>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <span>Easy there tiger. Still got <span class="js-mass-like-counter" style="display:inline;">20</span> girls left to like.</span>
        <br />
        <span>In the meantime, work on <a href="#" class="js-goto-openers">your openers</a>, or <a href="#" class="js-goto-chat">chat with someone</a> you've already matched with.</span>
      </div>
    </div> <!-- ./action-blocked -->

    <div class="row action">
      <div class="col-md-offset-3 col-md-6">
        <div class="js-like primary" data-like-num="20">Like 20 more girls</div>
      </div>
    </div> <!-- /.action -->

    <div class="row action">
      <div class="col-md-12">
        <span class="or">or</span>
      </div>

      <div class="col-md-2 col-md-offset-3">
        <div class="js-like secondary" data-like-num="5">Like 5</div>
      </div>
      <div class="col-md-2">
        <div class="js-like secondary" data-like-num="100">Like 100</div>
      </div>
      <div class="col-md-2">
        <div class="js-like secondary" data-like-num="250">Like 250</div>
      </div>
    </div> <!-- /.action -->
  </div> <!-- /.actions -->


</div>

<div class="container-fluid rec-bar-wrap">
  <div class="rec-river UIRiver col-md-12">
    <div class="recommendations el-wrap">
    </div>
  </div>
</div>

<div class="match-hovercard container-fluid wrap-full-width" style="display:none;">
  <div class="col-md-4">
    <div class="row">
      <h2><span class="js-match-name">Linda</span>, <span class="js-match-age">23</span></h2>
      <h3><span class="js-miles-away">2 miles away</span></h3>
      <h4>last online <span class="js-last-online">5 minutes</span> ago</h4>
      <p>I'm New in town let's meet up and explore the town! I'm also not into texting for ages , I think it would be cooler to meet in person... How otherwise can we discover the town and taste the flavors of Estonia. 178cm</p>
      <p>Kolisin Tallinnasse ja oleks tore tutvuda inimestega!</p>
    </div>
    <div class="row">
    </div>
    <div class="row">
      <div class="cp-btn js-unmatch" data-target-match="1232141">
        unmatch
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <img src="http://images.gotinder.com/55f440924cd371e82f56dad2/712121d3-c252-4e58-8759-2016272416f9.jpg" />
    <img src="http://images.gotinder.com/55f440924cd371e82f56dad2/b168b1c7-1962-4b0e-91a3-8d13680c9cd6.jpg" />
    <img src="http://images.gotinder.com/55f440924cd371e82f56dad2/795bb1eb-b7aa-4a12-8cd3-a7a9b9bc3086.jpg" />
  </div>
</div>

<div class="black-overlay" style="display:none;">
</div>

<script>
  var socket;
  Global.currentCoords = {
      "lon": "{{location.lon}}",
      "lat": "{{location.lat}}"
  };

  Global.uid = "{{userId}}";
  Global.socket = socket = io.connect('//localhost:3000');
  socket.on('connect', function() {
    // TODO: replace with DB userId
    console.log("emitting auth!");
    socket.emit('auth', {uid: "{{userId}}"});
  });
  socket.on('disconnect', function() {
    console.log(arguments);
    console.log("disconnected!");
  });
  Like.init();

</script>

{% endblock %}
