{% extends 'base.html' %}
{% block entire_page %}
<div class="page-marketing">
  <div class="intro wrap-full-width">
    <div class="container">
      <div class="hero-text col-md-7">
        <p class="small">Tinder is slow on purpose.</p>
        <p class="what"><strong>Wingman supercharges your experience</strong> by helping you match faster, match better, and match ahead of time when traveling between cities.</p>
        <p class="closing">If you like Tinder now, with Wingman, you’ll be in heaven.</p>
      </div>
      <div class="hero-cta col-md-5">
        <a href="/reg" class="cp-btn primary">Get Started</a>
        <span class="btw"><b>Wingman is free to use on the web.</b></span>
        <span class="btw">We just ask for your feedback, as we begin work on paid native apps.</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}