html {
  height: 100%;
}
body {
  background: #4a90e2;
  color: #ffffff;
  font-family: "Cabin", "Helvetica", sans-serif;
  margin: 0;
  height: 100%;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
p,
a,
h1,
h2,
h3,
h4,
h5,
span {
  font-family: "Cabin", "Helvetica", sans-serif;
}
hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #ede9e9;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}
.wrap-full-width {
  width: 100%;
  float: left;
  display: block;
}
.cp-btn {
  display: block;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #0c62c8;
  color: #4a90e2;
}
.cp-btn:hover {
  cursor: pointer;
  background: #2878d7;
}
.footer {
  width: 300px;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-bottom: 15px;
}
.footer span {
  width: 100%;
  display: block;
}
.footer span.app-title {
  /* Wingman: */
  font-size: 24px;
  color: #ffffff;
  line-height: 29px;
  font-weight: 700;
}
.footer span.app-subtitle {
  /* gym.travel.tinder.: */
  font-style: italic;
  font-size: 10px;
  color: #9ec5f4;
  line-height: 14px;
}
.match-bar-wrap {
  padding-right: 0;
  margin-top: 40px;
  position: relative;
  z-index: 8;
}
.match-bar-wrap .icon {
  text-align: center;
}
.match-bar-wrap i.fa-heart {
  margin: 0 auto;
  margin-top: 20px;
  font-size: 48px;
  color: #9ec5f4;
}
.match-bar-wrap,
.rec-bar-wrap {
  padding-left: 0;
  padding-right: 0;
}
.UIRiver {
  height: 85px;
  background: #9ec5f4;
  margin-right: 0;
}
.UIRiver .el-wrap {
  display: block;
  float: left;
}
.UIRiver .el-wrap div {
  height: 85px;
  width: 120px;
  display: inline-block;
  position: absolute;
  background-position: 50% 50%;
  /* Sets reference point to scale from */
  background-size: cover;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}
.UIRiver .el-wrap div.animate-in {
  left: 0px;
}
.UIRiver .el-wrap div.animate-out {
  -ms-transform: translate(-300px, 0px);
  /* IE 9 */
  -webkit-transform: translate(-300px, 0px);
  /* IE 9 */
  transform: translate(-300px, 0px);
  /* IE 9 */
}
.UIRiver.rec-river {
  height: 50px;
}
.UIRiver.rec-river .el-wrap div {
  width: 80px;
  height: 50px;
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ffffff;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ffffff;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ffffff;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff;
}
.nav {
  padding-top: 40px;
}
.nav i,
label {
  color: #9ec5f4;
}
.nav input.city-filter {
  width: 100%;
  padding: 5px;
  background: #4a90e2;
  border: 2px solid #9ec5f4;
  color: #9ec5f4;
  font-size: 20px;
}
.nav input.city-filter:active,
.nav input.city-filter:focus {
  outline: none;
  border: 2px solid #6fa7eb;
}
.pac-container {
  background: #4a90e2;
  color: #ffffff;
}
.pac-container .pac-icon {
  display: none;
}
.pac-container .pac-item-query {
  color: #9ec5f4;
  font-size: 18px;
}
.pac-container .pac-item {
  color: #ffffff;
  color: #9ec5f4;
  font-size: 10px;
}
.pac-container .pac-item:hover {
  background: #0c62c8;
}
.pac-container .pac-item-selected {
  background: #0c62c8;
}
.city-search-error span {
  font-size: 14px;
  line-height: 1.1;
  display: block;
  padding: 4px;
}
.nav .cp-btn {
  margin-top: 20px;
}
.nav-box {
  display: block;
  float: left;
  width: 100px;
  height: 100px;
  padding-top: 20px;
  text-align: center;
  background: #0c62c8;
  color: #9ec5f4;
}
.nav-box span {
  width: 100%;
  display: block;
  line-height: 1.1;
}
.nav-box span.number {
  font-size: 36px;
  font-weight: 700;
}
.nav-box.active {
  background: #00c891;
  color: #ffffff;
}
.nav-box.likes {
  margin-left: 50px;
}
.nav .flow-arrow {
  float: left;
  display: block;
  width: 40px;
  height: 100px;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}
.nav .flow-arrow i {
  padding: 10px;
  padding-top: 40px;
  color: #0c62c8;
}
.nav .user-profile-pic {
  float: left;
  display: inline;
  width: 30px;
  height: 30px;
}
.nav .account-link {
  float: left;
  font-size: 18px;
  color: #ffffff;
  display: inline;
  padding-left: 10px;
  padding-top: 3px;
}
a {
  text-decoration: inherit;
}
.page-reg h1,
h2 {
  /* Awesome. Let’s get s: */
  font-weight: 700;
  font-size: 48px;
}
.page-reg h1 {
  margin-top: 100px;
  font-weight: 400;
}
.page-reg h1 b {
  font-weight: 700;
}
.page-reg h1.subtitle {
  color: #9ec5f4;
  margin-top: 30px;
}
.page-reg span.btw {
  font-style: italic;
  color: #9ec5f4;
  word-wrap: break-word;
}
.page-reg span.btw b {
  color: #ffffff;
}
.page-reg span.btw b strong {
  background: #3ce2b4;
  color: #ffffff;
  display: inline-block;
  padding: 3px;
}
.page-reg h2 {
  color: #9ec5f4;
  font-weight: 400;
}
.page-reg .email-input {
  margin-top: 80px;
}
.page-reg input {
  display: block;
  width: 100%;
  background: #4a90e2;
  border: 1px solid #ffffff;
  font-size: 24px;
  padding: 5px;
  padding-left: 15px;
}
.page-reg .email-input,
.page-reg .fb-login {
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  opacity: 1;
}
.page-reg label {
  font-size: 36px;
  font-weight: 400;
}
.page-reg .disabled {
  opacity: 0.3;
}
.page-reg .fb-login {
  margin-top: 100px;
}
.page-reg .cp-btn {
  background: #00c891;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 36px;
  color: #ffffff;
  text-align: center;
}
.page-reg .cp-btn:hover {
  background: #18d7a2;
}
.page-reg .gif-directions {
  margin-top: 90px;
}
.page-reg .gif-directions video {
  margin-top: 140px;
}
.page-reg {
  padding-bottom: 200px;
}
.page-reg-complete label {
  color: #ffffff;
  font-size: 36px;
}
.page-reg-complete label.lookatme {
  background: #18d7a2;
  display: block;
  padding: 20px;
}
.page-reg-complete .access-key,
.page-reg-complete .paste-token {
  margin-top: 100px;
}
.page-reg-complete .paste-token input {
  margin-bottom: 10px;
  font-size: 36px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.page-reg-complete .paste-token .cp-btn {
  margin-top: 80px;
}
.like-ui .stats {
  margin-top: 70px;
}
.like-ui .actions {
  min-height: 440px;
}
.like-ui .action {
  text-align: center;
}
.like-ui .action .primary {
  display: block;
  margin-top: 40px;
  background: #00c891;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 36px;
  font-weight: 700;
}
.like-ui .action .primary:hover {
  cursor: pointer;
  background: #01b785;
}
.like-ui span.or {
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  color: #9ec5f4;
}
.like-ui .action .secondary {
  background: #6fa7eb;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #9ec5f4;
}
.like-ui .action .secondary:hover {
  background: #2878d7;
  cursor: pointer;
}
.like-ui .action-blocked {
  text-align: center;
}
.like-ui .action-blocked i {
  font-size: 72px;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
}
.like-ui .action-blocked span {
  width: 100%;
  display: block;
  text-align: center;
}
.like-ui .action-blocked a {
  display: inline-block;
  background: #01b785;
  color: #f1f1f1;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.like-ui .action-blocked a:hover {
  background: #00c891;
  cursor: pointer;
  text-decoration: none;
}
.DataBox {
  display: block;
  height: 110px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #0c62c8;
  border: 1px solid #ffffff;
  text-align: center;
}
.DataBox span {
  display: block;
  width: 100%;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  font-style: italic;
}
.DataBox label {
  display: block;
  width: 100%;
  font-style: italic;
  padding-left: 20px;
  padding-right: 20px;
}
.DataBox.DataBox--longlabel {
  padding-top: 5px;
}
.black-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 7;
  background: black;
  opacity: 0.45;
}
.match-hovercard {
  position: fixed;
  top: 280px;
  left: 0;
  z-index: 10;
  min-height: 400px;
  background: #0c62c8;
}
.match-hovercard h2 {
  color: #9ec5f4;
  font-size: 28px;
  font-style: italic;
  padding-left: 55px;
}
.match-hovercard h3 {
  color: #4a90e2;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  padding-left: 55px;
}
.match-hovercard h4 {
  color: #4a90e2;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  padding-left: 55px;
}
.match-hovercard p {
  color: #4a90e2;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  padding-left: 55px;
}
.match-hovercard .cp-btn {
  float: left;
  margin-left: 55px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #6fa7eb;
  color: #9ec5f4;
  font-size: 48px;
  font-weight: 700;
}
.match-hovercard .cp-btn:hover {
  background: #9ec5f4;
  color: #ffffff;
}
.match-hovercard img {
  height: 400px;
  float: left;
  display: block;
}
.match-el:hover {
  cursor: pointer;
}
