html {
  height: 100%;
}
body {
  background: #4a90e2;
  color: #ffffff;
  font-family: "Cabin", "Helvetica", sans-serif;
  margin: 0;
  height: 100%;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
p,
a,
h1,
h2,
h3,
h4,
h5,
span {
  font-family: "Cabin", "Helvetica", sans-serif;
}
hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #ede9e9;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}
.wrap-full-width {
  width: 100%;
  float: left;
  display: block;
}
.cp-btn {
  display: block;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #0c62c8;
  color: #4a90e2;
}
.cp-btn:hover {
  cursor: pointer;
  background: #2878d7;
}
.icon span {
  display: block;
  width: 100%;
  padding-right: 30px;
  text-align: right;
}
.icon span.app-title {
  /* Wingman: */
  font-size: 24px;
  color: #ffffff;
  line-height: 29px;
  font-weight: 700;
}
.icon span.app-subtitle {
  /* gym.travel.tinder.: */
  font-style: italic;
  font-size: 10px;
  color: #9ec5f4;
  line-height: 14px;
}
.match-bar-wrap {
  padding-right: 0;
  margin-top: 10px;
  position: relative;
  z-index: 8;
}
.match-bar-wrap .icon {
  text-align: center;
}
.match-bar-wrap i.fa-heart {
  margin: 0 auto;
  margin-top: 20px;
  font-size: 48px;
  color: #9ec5f4;
}
.match-bar-wrap,
.rec-bar-wrap {
  padding-left: 0;
  padding-right: 0;
}
.UIRiver {
  height: 85px;
  background: #9ec5f4;
  margin-right: 0;
}
.UIRiver .el-wrap {
  display: block;
  float: left;
}
.UIRiver .el-wrap div {
  height: 85px;
  width: 120px;
  display: inline-block;
  position: absolute;
  background-position: 50% 50%;
  /* Sets reference point to scale from */
  background-size: cover;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}
.UIRiver .el-wrap div.animate-in {
  left: 0px;
}
.UIRiver .el-wrap div.animate-out {
  -ms-transform: translate(-300px, 0px);
  /* IE 9 */
  -webkit-transform: translate(-300px, 0px);
  /* IE 9 */
  transform: translate(-300px, 0px);
  /* IE 9 */
}
.UIRiver.rec-river {
  height: 50px;
  position: fixed;
  bottom: 0;
}
.UIRiver.rec-river .el-wrap div {
  width: 80px;
  height: 50px;
}
.DataBox {
  display: block;
  height: 80px;
  padding-top: 15px;
  padding-bottom: 10px;
  background: none;
  border: 1px solid #9ec5f4;
  text-align: center;
}
.DataBox span {
  display: block;
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.1;
  font-style: italic;
  color: #9ec5f4;
}
.DataBox label {
  display: block;
  width: 100%;
  font-style: italic;
  padding-left: 20px;
  padding-right: 20px;
  color: #9ec5f4;
  line-height: 1.1;
}
.DataBox.DataBox--longlabel {
  padding-top: 5px;
}
.page-auth .gif-directions {
  margin-top: 90px;
}
.page-auth .gif-directions video {
  margin-top: 140px;
}
.page-auth label {
  color: #ffffff;
  font-size: 36px;
}
.page-auth label.lookatme {
  background: #18d7a2;
  display: block;
  padding: 20px;
}
.page-auth .access-key,
.page-auth .paste-token {
  margin-top: 100px;
}
.page-auth .paste-token input {
  margin-bottom: 10px;
  font-size: 36px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.page-auth .submit-form .cp-btn {
  margin-top: 40px;
  min-height: 50px;
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ffffff;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ffffff;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ffffff;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff;
}
.switch {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 140px;
}
.switch > label {
  display: block;
  position: relative;
  height: 55px;
  line-height: 50px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #2878d7;
  border-radius: 28px;
  transition: all 0.15s ease-out;
  background: #2878d7;
  color: #094a98;
  border-color: #0c62c8;
}
.switch > label:before {
  content: attr(data-off);
  position: absolute;
  top: 0;
  right: 3px;
  width: 85px;
}
.switch > label:after {
  content: '';
  display: block;
  margin: 2px;
  width: 47px;
  height: 47px;
  background: #0c62c8;
  border-radius: 28px;
}
.switch > input {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  opacity: 0;
  -webkit-appearance: none;
}
.switch > input:focus {
  outline: none;
}
.switch > input:focus + label {
  color: #094a98;
  border-color: #0c62c8;
}
.switch > input:focus + label:after {
  background: #0c62c8;
}
.switch > input:checked + label {
  padding-left: 85px;
  color: #e6e6e6;
  background: #094a98;
  border-color: #094a98;
}
.switch > input:checked + label:before {
  content: attr(data-on);
  left: 1px;
}
.switch > input:checked + label:after {
  margin: 1px;
  width: 49px;
  height: 49px;
  background: #0c62c8;
}
.switch-square > label {
  border-radius: 2px;
}
.switch-square > label:before {
  width: 66px;
}
.switch-square > label:after {
  width: 62px;
  border-radius: 1px;
}
.switch-square > input:checked + label {
  padding-left: 70px;
}
.switch-square > input:checked + label:after {
  width: 64px;
}
.nav {
  padding-top: 20px;
}
.nav i,
label {
  color: #9ec5f4;
}
.nav input.city-filter {
  width: 100%;
  padding: 5px;
  background: #4a90e2;
  border: 2px solid #9ec5f4;
  color: #9ec5f4;
  font-size: 20px;
}
.nav input.city-filter:active,
.nav input.city-filter:focus {
  outline: none;
  border: 2px solid #6fa7eb;
}
.pac-container {
  background: #4a90e2;
  color: #ffffff;
}
.pac-container .pac-icon {
  display: none;
}
.pac-container .pac-item-query {
  color: #9ec5f4;
  font-size: 18px;
}
.pac-container .pac-item {
  color: #ffffff;
  color: #9ec5f4;
  font-size: 10px;
}
.pac-container .pac-item:hover {
  background: #0c62c8;
}
.pac-container .pac-item-selected {
  background: #0c62c8;
}
.city-search-error span {
  font-size: 14px;
  line-height: 1.1;
  display: block;
  padding: 4px;
}
.nav .cp-btn {
  margin-top: 20px;
}
.nav-box {
  display: block;
  float: left;
  width: 80px;
  height: 80px;
  padding-top: 10px;
  text-align: center;
  background: #0c62c8;
  color: #9ec5f4;
}
.nav-box span {
  width: 100%;
  display: block;
  line-height: 1.1;
}
.nav-box span.number {
  font-size: 28px;
  font-weight: 700;
}
.nav-box.active {
  background: #00c891;
  color: #ffffff;
}
.nav-box.likes {
  margin-left: 50px;
}
.nav-box:hover {
  cursor: pointer;
  opacity: 0.7;
}
.nav .flow-arrow {
  float: left;
  display: block;
  width: 40px;
  height: 100px;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}
.nav .flow-arrow i {
  padding: 10px;
  padding-top: 40px;
  color: #0c62c8;
}
.nav .user-profile-pic {
  float: right;
  display: inline;
  width: 30px;
  height: 30px;
  margin-right: 30px;
}
.nav .logo-account .account {
  margin-top: 5px;
}
.nav .account-link {
  float: right;
  font-size: 14px;
  color: #ffffff;
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}
a {
  text-decoration: inherit;
}
.page-reg h1,
h2 {
  /* Awesome. Let’s get s: */
  font-weight: 700;
  font-size: 48px;
}
.page-reg h1 {
  margin-top: 100px;
  font-weight: 400;
}
.page-reg h1 b {
  font-weight: 700;
}
.page-reg h1.subtitle {
  color: #9ec5f4;
  margin-top: 30px;
}
.page-reg span.btw {
  font-style: italic;
  color: #9ec5f4;
  word-wrap: break-word;
}
.page-reg span.btw b {
  color: #ffffff;
}
.page-reg span.btw b strong {
  background: #3ce2b4;
  color: #ffffff;
  display: inline-block;
  padding: 3px;
}
.page-reg h2 {
  color: #9ec5f4;
  font-weight: 400;
}
.page-reg .email-input {
  margin-top: 80px;
}
.page-reg input {
  display: block;
  width: 100%;
  background: #4a90e2;
  border: 1px solid #ffffff;
  font-size: 24px;
  padding: 5px;
  padding-left: 15px;
}
.page-reg .email-input,
.page-reg .fb-login {
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  opacity: 1;
}
.page-reg label {
  font-size: 36px;
  font-weight: 400;
}
.page-reg .disabled {
  opacity: 0.3;
}
.page-reg .fb-login {
  margin-top: 100px;
}
.page-reg .cp-btn {
  background: #00c891;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 36px;
  color: #ffffff;
  text-align: center;
}
.page-reg .cp-btn:hover {
  background: #18d7a2;
  text-decoration: none;
}
.page-reg {
  padding-bottom: 200px;
}
.js-if-toggle {
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}
.js-if-toggle.active {
  opacity: 1;
}
.js-if-toggle.js-if-toggle-hide {
  display: none;
}
.js-if-toggle.js-if-toggle-hide.active {
  display: block;
}
.page-likes {
  padding-bottom: 100px;
}
.masslike.wrap-full-width {
  min-height: 470px;
  margin-top: 30px;
  padding-top: 20px;
  padding-botom: 20px;
  background: #0c62c8;
  text-align: left;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}
.masslike.wrap-full-width p {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}
.page-likes .intro {
  text-align: left;
}
.page-likes .intro label {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}
.page-likes .intro .description p {
  color: #ffffff;
  opacity: 0.7;
  font-size: 18px;
  font-weight: 400;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}
.intro .intro-el label {
  width: 100%;
  display: block;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}
.intro .intro-el textarea {
  display: block;
  padding: 10px;
  background: #ffffff;
  color: #747474;
  font-size: 24px;
  font-weight: 400;
  width: 100%;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}
.intro .intro-el .cp-btn {
  float: left;
  display: block;
  margin-top: 15px;
  background: #6fa7eb;
  color: #9ec5f4;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}
.intro .intro-el .cp-btn:hover {
  background: #2878d7;
  cursor: pointer;
}
.page-likes .intro.off .description p {
  color: #2878d7;
}
.page-likes .intro.off p.status {
  opacity: 0.7;
}
.page-likes .intro.off .intro-el label {
  color: #4a90e2;
}
.page-likes .intro.off .intro-el textarea {
  background: #4a90e2;
  color: #72A8E8;
}
.page-likes .intro.off .intro-el textarea:hover {
  cursor: default;
}
.page-likes .intro.off .cp-btn {
  background: #2878d7;
  cursor: default;
  color: #4a90e2;
}
.masslike {
  margin-top: 115px;
  text-align: center;
  text-align: left;
}
.masslike .select-like-num {
  margin-top: 5px;
}
.masslike .like-num-el {
  background: #6fa7eb;
  color: #9ec5f4;
  display: inline-block;
  float: left;
  text-align: center;
  width: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 1px;
  margin-right: 1px;
}
.masslike .like-num-el:hover {
  background: #2878d7;
  cursor: pointer;
}
.masslike .like-num-el.active {
  background: #00c891;
  color: #ffffff;
}
.page-likes .DataBox {
  margin-top: 30px;
}
.masslike p.desc {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-weight: 700;
  color: #4a90e2;
  font-size: 24px;
}
.masslike .primary {
  display: block;
  width: 100%;
  margin-top: 10px;
  background: #00c891;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
.masslike .primary:hover {
  cursor: pointer;
  background: #01b785;
}
.masslike-blocked {
  text-align: center;
  margin-top: 60px;
}
.masslike-blocked i {
  font-size: 72px;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
}
.masslike-blocked span {
  width: 100%;
  display: block;
  text-align: center;
}
.masslike-blocked a {
  display: inline-block;
  background: #01b785;
  color: #f1f1f1;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.masslike-blocked a:hover {
  background: #00c891;
  cursor: pointer;
  text-decoration: none;
}
.black-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 7;
  background: black;
  opacity: 0.45;
}
.match-hovercard {
  position: fixed;
  top: 280px;
  left: 0;
  z-index: 10;
  min-height: 400px;
  background: #0c62c8;
}
.match-hovercard h2 {
  color: #9ec5f4;
  font-size: 28px;
  font-style: italic;
  padding-left: 55px;
}
.match-hovercard h3 {
  color: #4a90e2;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  padding-left: 55px;
}
.match-hovercard h4 {
  color: #4a90e2;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  padding-left: 55px;
}
.match-hovercard p {
  color: #4a90e2;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  padding-left: 55px;
}
.match-hovercard .cp-btn {
  float: left;
  margin-left: 55px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #6fa7eb;
  color: #9ec5f4;
  font-size: 48px;
  font-weight: 700;
}
.match-hovercard .cp-btn:hover {
  background: #9ec5f4;
  color: #ffffff;
}
.match-hovercard img {
  height: 400px;
  float: left;
  display: block;
}
.match-el:hover {
  cursor: pointer;
}
.page-intros .intro-perf {
  margin-top: 40px;
  background: #0c62c8;
  padding-top: 45px;
  padding-bottom: 45px;
  text-align: center;
}
.page-intros .intro-perf p.recipients {
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
}
.page-intros .intro-perf .active-message span {
  display: block;
  color: #9ec5f4;
  font-size: 48px;
  font-weight: 700;
  padding-top: 50px;
  padding-bottom: 50px;
}
.page-intros .intro-perf .DataBox {
  padding-left: 0;
  padding-right: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 80px;
}
.page-intros .intro-perf .DataBox span {
  font-size: 28px;
}
.page-intros .intro-perf .DataBox label {
  font-size: 14px;
  color: #ffffff;
  font-style: italic;
}
.page-intros .intro-perf .primary,
.page-intros .intro-perf .secondary {
  margin-top: 40px;
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.page-intros .intro-perf .primary:hover,
.page-intros .intro-perf .secondary:hover {
  text-decoration: none;
}
.page-intros .intro-perf .primary {
  background: #00c891;
}
.page-intros .intro-perf .primary:hover {
  background: #01b785;
}
.page-intros .intro-perf .secondary {
  background: #6fa7eb;
}
.page-intros .intro-perf .secondary:hover {
  background: #2878d7;
}
.intro-unmessaged {
  height: 500px;
  margin-top: 70px;
  text-align: center;
}
.intro-unmessaged p.unmessaged {
  width: 100%;
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.1;
}
.intro-unmessaged span.btw {
  width: 100%;
  color: #9ec5f4;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1;
}
.intro-unmessaged .secondary {
  background: #6fa7eb;
  color: #ffffff;
  margin-top: 20px;
  font-weight: 700;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.intro-unmessaged .secondary:hover {
  text-decoration: none;
  background: #2878d7;
}
.page-marketing .intro {
  background: #0c62c8;
  padding-top: 40px;
  padding-bottom: 40px;
}
.page-marketing .hero-text p {
  color: #ffffff;
}
.page-marketing .hero-text p.small {
  font-weight: 700;
  font-size: 20px;
}
.page-marketing .hero-text p.what {
  color: #ADD0F6;
  font-size: 28px;
}
.page-marketing .hero-text p.what strong {
  color: #ffffff;
}
.page-marketing .hero-text p.closing {
  color: #9EC5F4;
  font-size: 20px;
}
.page-marketing .hero-cta span.btw {
  display: block;
  width: 100%;
  color: #9ec5f4;
  text-align: center;
  font-size: 18px;
  font-style: italic;
}
.page-marketing .primary {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 45px;
  margin-bottom: 15px;
  background: #00c891;
  text-align: center;
  font-size: 48px;
  color: #ffffff;
}
.page-marketing .primary:hover {
  background: #18d7a2;
  text-decoration: none;
}
.page-chat .matchList {
  position: fixed;
  top: 240px;
  left: 0;
  height: 70vh;
  overflow: scroll;
}
.matchCell {
  color: #ffffff;
  height: 180px;
  overflow: hidden;
}
.matchCell img {
  height: auto;
  float: left;
}
.matchCell:nth-child(even) {
  background: #9ec5f4;
}
.matchCell:nth-child(odd) {
  background: #6fa7eb;
}
.matchCell[data-active="active"] {
  background: #00c891;
}
.matchCell span,
.matchCell p {
  display: block;
  float: left;
  width: 100%;
  padding-left: 10px;
  line-height: 1.1;
  color: #ffffff;
}
.matchCell span.name {
  padding-top: 20px;
  font-size: 24px;
  color: #ffffff;
}
.matchCell span.lastonline {
  font-size: 20px;
  color: #ffffff;
  font-style: italic;
}
.matchCell span.lastonline span {
  display: inline-block;
  width: auto;
  padding: 0;
  padding-right: 5px;
}
.matchCell p {
  font-style: italic;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.1;
}
.convoHistoryBox {
  position: fixed;
  top: 240px;
  left: 33%;
  height: 60vh;
  width: 900px;
  overflow: scroll;
}
.convoBox {
  background: #0c62c8;
  padding-bottom: 200px;
  padding-top: 50px;
}
.messageBubble {
  width: 100%;
  display: block;
}
.messageBubble img {
  display: none;
  width: 100%;
  height: auto;
  z-index: 3;
  position: relative;
}
.messageBubble .messageText p {
  font-size: 24px;
  color: #000000;
  line-height: 28px;
  background: white;
  padding: 10px;
  width: auto;
  display: block;
  float: left;
  position: relative;
  top: 5px;
  left: -35px;
}
.messageBubble[data-started='true'] img {
  opacity: 0;
  display: block;
}
.messageBubble[data-from="them"] {
  float: right;
  text-align: right;
}
.messageBubble[data-from="them"][data-first="true"] img.themPhoto {
  opacity: 1;
}
.messageBubble[data-from="them"] p {
  left: 35px;
  float: right;
  z-index: 1;
}
.messageBubble[data-from="me"] {
  float: left;
  text-align: left;
}
.messageBubble[data-from="me"][data-first="true"] img.mePhoto {
  opacity: 1;
}
.messageInput {
  height: 10vh;
  position: fixed;
  bottom: 40px;
  left: 35%;
  width: 900px;
}
.messageInput img {
  height: auto;
  padding-left: 0;
  padding-right: 0;
  width: 80px;
}
.messageInput input {
  background: #ffffff;
  color: #7A7A7A;
  font-size: 24px;
  padding: 20px;
  border: 0;
}
.messageInput .submit {
  background: #00c891;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  height: 75px;
  padding-top: 20px;
}
.messageInput .submit:hover {
  cursor: pointer;
  background: #18d7a2;
}
