@import "base/z-index.less";
@import "base/colors.less";
@import "base/type.less";

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `@screen-xs` as of v3.0.1
@screen-xs:                  480px;
//** Deprecated `@screen-xs-min` as of v3.2.0
@screen-xs-min:              @screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
@screen-phone:               @screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);

html {
    height: 100%;
}

body {
    background: @color-blue;
    color: @color-white;
    font-family: @font-default;
    margin: 0;
    height: 100%;
    font-weight: 400;
    font-style: normal;
    font-size: @type-small;
}

p, a, h1, h2, h3, h4, h5, span {
    font-family: @font-default;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: @color-medLightGrey;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

.wrap-full-width {
    width: 100%;
    float: left;
    display: block;
}

.cp-btn {
  display: block;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: @color-darkBlue0;
  color: @color-blue;
  &:hover {
    cursor: pointer; 
    background: @color-darkBlue1;
  }
}

.footer {
  width: 300px;
  position: absolute;
  bottom: 0;
  left: 0;

  text-align: center;

  padding-bottom: 15px;
  span {
    width: 100%;
    display: block;
  }
  span.app-title {
    /* Wingman: */
    font-size: @type-base;
    color: @color-white;
    line-height: 29px;
    font-weight: 700;
  }
  span.app-subtitle {
    /* gym.travel.tinder.: */
    font-style: italic;
    font-size: @type-micro;
    color: @color-lightBlue0;
    line-height: @type-smallest;
  }


}

.match-bar-wrap {
  padding-right: 0;
}

.match-bar {
  height: 85px;
  background: @color-lightBlue0;

  margin-top: 40px;
  margin-right: 0;

  .matches {
    display: block;
    float: left;
  } 
  .match-el {
    height: 85px;
    width: 120px;
    display: inline-block;
    
    position: absolute;

    background-position:50% 50%;  /* Sets reference point to scale from */
    background-size:cover;

    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;

    &.animate-in {
      left: 0px;
    }

    &.animate-out {
      -ms-transform: translate(-300px, 0px); /* IE 9 */
      -webkit-transform: translate(-300px, 0px); /* IE 9 */
      transform: translate(-300px, 0px); /* IE 9 */
    }


  }
}




// @import "components/footer.less";
// @import "components/hero.less";
@import "components/nav.less";
// @import "libs/jquery.smartbanner.less";
// @import "libs/audiojs.css";
