@import "base/z-index.less";
@import "base/colors.less";
@import "base/type.less";

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `@screen-xs` as of v3.0.1
@screen-xs:                  480px;
//** Deprecated `@screen-xs-min` as of v3.2.0
@screen-xs-min:              @screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
@screen-phone:               @screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);

html {
    height: 100%;
}

body {
    background: @color-blue;
    color: @color-white;
    font-family: @font-default;
    margin: 0;
    height: 100%;
    font-weight: 400;
    font-style: normal;
    font-size: @type-small;
}

p, a, h1, h2, h3, h4, h5, span {
    font-family: @font-default;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: @color-medLightGrey;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

.wrap-full-width {
    width: 100%;
    float: left;
    display: block;
}

.cp-btn {
  display: block;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: @color-darkBlue0;
  color: @color-blue;
  &:hover {
    cursor: pointer;
    background: @color-darkBlue1;
  }
}

.footer {
  width: 300px;
  position: fixed;
  bottom: 0;
  left: 0;

  text-align: center;

  padding-bottom: 15px;
  span {
    width: 100%;
    display: block;
  }
  span.app-title {
    /* Wingman: */
    font-size: @type-base;
    color: @color-white;
    line-height: 29px;
    font-weight: 700;
  }
  span.app-subtitle {
    /* gym.travel.tinder.: */
    font-style: italic;
    font-size: @type-micro;
    color: @color-lightBlue0;
    line-height: @type-smallest;
  }


}

.match-bar-wrap {
  padding-right: 0;
  margin-top: 40px;

  position: relative;
  z-index: 8;
  .icon {
    text-align: center;
  }
  i.fa-heart {
    margin: 0 auto;
    margin-top: 20px;
    font-size: @type-larger;
    color: @color-lightBlue0;
  }
}

.match-bar-wrap, .rec-bar-wrap {
  padding-left: 0;
  padding-right:0;
}

.UIRiver {
  height: 85px;
  background: @color-lightBlue0;

  margin-right: 0;

  .el-wrap {
    display: block;
    float: left;
  }
  .el-wrap div {
    height: 85px;
    width: 120px;
    display: inline-block;

    position: absolute;

    background-position:50% 50%;  /* Sets reference point to scale from */
    background-size:cover;

    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;

    &.animate-in {
      left: 0px;
    }

    &.animate-out {
      -ms-transform: translate(-300px, 0px); /* IE 9 */
      -webkit-transform: translate(-300px, 0px); /* IE 9 */
      transform: translate(-300px, 0px); /* IE 9 */
    }

  }

  &.rec-river {
    height: 50px;
    .el-wrap div {
      width: 80px;
      height:50px;
    }
  }
}

.DataBox {
  display: block;
  height: 110px;

  padding-top: 20px;
  padding-bottom: 20px;

  background: none;
  border: 1px solid @color-lightBlue0;

  text-align: center;

  span {
    display: block;
    width: 100%;

    font-size: @type-medLarge;
    font-weight: 400;
    line-height: @lineHeight-tight;
    font-style: italic;
    color: @color-lightBlue0;
  }

  label {
    display: block;
    width: 100%;

    font-style: italic;
    padding-left: 20px;
    padding-right: 20px;

    color: @color-lightBlue0;
  }

  &.DataBox--longlabel {
    padding-top: 5px;
  }
}


.page-auth .gif-directions {
  margin-top: 90px;

  video {
    margin-top: 140px;
  }
}

.page-auth label {
  color: @color-white;
  font-size: @type-medLarge;

  &.lookatme {
    background: @color-darkGreen1;
    display: block;
    padding: 20px;
  }
}

.page-auth .access-key, .page-auth .paste-token {
  margin-top: 100px;
}

.page-auth .paste-token input {
  margin-bottom: 10px;
  font-size: @type-medLarge;
  padding-top: 10px;
  padding-bottom: 10px;
}

.page-auth .submit-form .cp-btn {
  margin-top: 40px;
  min-height: 50px;

  &.active {
  }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    @color-white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    @color-white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    @color-white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    @color-white;
}


@switchWidth: 140px;
@switchHeight: 55px;

.switch {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: @switchWidth;

  > label {
    display: block;
    position: relative;
    height: @switchHeight;
    line-height: @switchHeight - 5px;
    font-size: 10px;
    font-weight: bold;
    color: #bbb;
    text-align: center;
    text-transform: uppercase;
    background: white;
    border: 2px solid @color-darkBlue1;
    border-radius: ceil(@switchHeight / 2);
    transition: all .15s ease-out;

    &:before {
      content: attr(data-off);
      position: absolute;
      top: 0;
      right: 3px;
      width: @switchWidth - @switchHeight;
    }

    &:after {
      content: '';
      display: block;
      margin: 2px;
      width: @switchHeight - 8px;
      height: @switchHeight - 8px;
      background: @color-darkBlue1;
      border-radius: ceil(@switchHeight / 2);
    }
  }

  > input {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    opacity: 0;
    -webkit-appearance: none;

    &:focus { outline: none; }
  }

  @focusColor: @color-darkBlue1;

  > input:focus + label {
    color: darken(@focusColor, 10%);
    border-color: @focusColor;

    &:after { background: @focusColor; }
  }

  > input:checked + label {
    padding-left: @switchWidth - @switchHeight;
    color: white;
    background: @focusColor;
    border-color: @focusColor;

    &:before {
      content: attr(data-on);
      left: 1px;
    }

    &:after {
      margin: 1px;
      width: @switchHeight - 6px;
      height: @switchHeight - 6px;
      background: white;
    }
  }

  > input:checked:focus + label {
    background: darken(@focusColor, 10%);
    border-color: darken(@focusColor, 10%);
  }
}

.switch-square {
  > label {
    border-radius: 2px;

    &:before { width: floor(@switchWidth / 2) - 4px; }

    &:after {
      width: floor(@switchWidth / 2) - 8px;
      border-radius: 1px;
    }
  }

  > input:checked + label {
    padding-left: floor(@switchWidth / 2);

    &:after { width: floor(@switchWidth / 2) - 6px; }
  }
}

// @import "components/footer.less";
// @import "components/hero.less";
@import "components/nav.less";
// @import "libs/jquery.smartbanner.less";
// @import "libs/audiojs.css";