.page-reg h1, h2 {
	/* Awesome. Let’s get s: */
	font-weight: 700;
	font-size: @type-larger;
}

.page-reg h1 {
	margin-top: 100px;
	font-weight: 400;
	b {
		font-weight: 700;
	}
}

.page-reg h2 {
	color: @color-lightBlue0;
	font-weight: 400;
}

.page-reg .email-input {
	margin-top: 130px;

	input {
		display: block;
		width: 100%;

		background: @color-blue;
		border: 1px solid @color-white;
		font-size: @type-base;
		padding: 5px;
		padding-left: 15px;
	}
}

.page-reg .email-input, .page-reg .fb-login {
	@animation-timing: 0.7s;
	-webkit-transition: all @animation-timing ease-out;
    -moz-transition: all @animation-timing ease-out;
    -o-transition: all @animation-timing ease-out;
    transition: all @animation-timing ease-out;
    opacity: 1;
}

.page-reg label {
	font-size: @type-medLarge;
	font-weight: 400;
}

.page-reg .disabled {
	opacity: 0.3;
}

.page-reg .fb-login {
	margin-top: 100px;

	.cp-btn {
		background: @color-darkGreen0;
		padding-top: 15px;
		padding-bottom: 15px;
		font-size: @type-medLarge;

		color: @color-white;
		text-align: center;

		&:hover {
			background: @color-darkGreen1;
		}
	}
}