.matchList {
    position: fixed;
    top: 240px;
    left: 0;
    height: 70vh;
    overflow: scroll;
}

.matchCell {
	img {
		height: auto;
		float:left;
	}

	color: @color-white;
	height: 180px;
	overflow: hidden;

	&:hover {
		cursor: pointer;
		opacity:0.95;
	}

	&:nth-child(even) {
		background: @color-lightBlue0;
	}
	&:nth-child(odd) {
		background: @color-lightBlue1;
	}
	&[data-active="active"] {
		background: @color-darkGreen0;
	}

	span, p {
		display: block;
		float: left;
		width: 100%;
		padding-left: 10px;
		line-height: @lineHeight-tight;

		color: @color-white;
	}
	span.name {
		padding-top: 20px;
		font-size: @type-base;
		color: @color-white;
	}
	span.lastonline {
		font-size: @type-small;
		color: @color-white;
		font-style: italic;
		span {
			display: inline-block;
			width: auto;
			padding: 0;
			padding-right: 5px;
		}
	}

	p {
		font-style: italic;
		font-size: @type-small;
		color: rgba(255,255,255,0.75);
		line-height: @lineHeight-tight;
	}
}

.activeConvo {
    // position: fixed;
    // top: 240px;
    // left: 33%;
    // height: 60vh;
    // overflow: scroll;
}
.convoHistoryBox {
	position: fixed;
    top: 240px;
    left: 33%;
    height: 60vh;
    width: 45%;
    overflow: scroll;
	&.noConvo {
		text-align: center;
	}
	i.fa-spinner {
		color: @color-white;
		font-size: @type-largest;
		text-align: center;
		margin: 0 auto;
		display: block;
		margin-top: 250px;
	}
    h3.helptext {
    	text-align:center;
    	font-size: @type-larger;
    	width: 40%;
    	margin: 0 auto;
    	padding-top: 100px;
    }
}
.convoBox {
	background: @color-darkBlue0;
	padding-bottom:200px;
	padding-top:50px;
}
.messageBubble {
	width: 100%;
	display: block;
	img {
		display:none;
		width: 100%;
		height: auto;
		z-index: 3;
		position: relative;
	}
	.messageText {
		p {
			font-size: @type-base;
			color: #000000;
			line-height: 28px;
			background: white;
			padding: 10px;

		    width: auto;
		    display: block;
		    float: left;
		    position: relative;
		    top: 5px;
		    left: -35px;
		    span.messageTimestamp {
		    	width: 100%;
		    	display: block;
		    	font-style: italic;
				font-size: @type-smallest;
				padding-top: 3px;
				color: rgba(0,0,0,0.28);
				line-height: 18px;
		    }
		}
	}

	&[data-started='true'] {
		img {
			opacity:0;
			display: block;
		}
	}
	&[data-from="them"] {
		float: right;
		text-align:right;
		&[data-first="true"] {
			img.themPhoto {
				opacity: 1;
			}
		}
		p {
			left: 35px;
			float: right;
			z-index: 1;
		}
	}
	&[data-from="me"] {
		float:left;
		text-align:left;
		&[data-first="true"] {
			img.mePhoto {
				opacity: 1;
			}
		}
	}
	&[data-first="true"] {

	}
	&[data-first="false"] {

	}
}

.messageInput {
	height: 10vh;
	position: fixed;
	bottom: 40px;
	left: 35%;
	width: 900px;
	img {
		height: auto;
		padding-left: 0;
	    padding-right: 0;
	    width: 80px;
	}
	input {
		background: @color-white;
		color:#7A7A7A;
		font-size: @type-base;
		padding:23px;
		border: 0;

		&[type="text"] {
			::-webkit-input-placeholder { /* WebKit, Blink, Edge */
			    color:    #909;
			}
			:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			   color:    #909;
			   opacity:  1;
			}
			::-moz-placeholder { /* Mozilla Firefox 19+ */
			   color:    #909;
			   opacity:  1;
			}
			:-ms-input-placeholder { /* Internet Explorer 10-11 */
			   color:    #909;
			}
		}
	}
	.submit {
		background: @color-darkGreen0;
		color: @color-white;
		text-align: center;
		font-size: @type-base;
		height: 79px;
		padding-top: 5px;
		border: 0;
		&:hover {
			cursor: pointer;
			background: @color-darkGreen1;
		}
		span {
			width: 100%;
			text-align: center;
			display: block;
		}
		i {
			display: none;
		}
		&[disabled] {
			background: #2878D7;
			i {
				display: block;
				font-size: @type-larger;
			}
			span {
				display: none;
			}
			&:hover {
				background: #2878D7;
				cursor: default;
			}
		}
	}
}

.convoPhotos {
	position: absolute;
	right: 0;
	width: 20%;
	height: 70vh;
	position: fixed;
	top: 250px;
	overflow-y:scroll;
	p {
		width: 80%;
		display: block;

		/* Joanna, 22: */
		opacity: 0.59;
		font-style: italic;
		font-size: @type-small;
		color: #FFFFFF;
		line-height: 20px;
		&.matchName {
			opacity: .8;
			font-style: normal;
			font-size: @type-base;
		}
	}
	img {

	}
}